.contact__headers{
    padding: 20px 0;
}
.section-title{
    font-size: 1.3em;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #1dbdff;
}
.left-line{
    width: 30px;
    height: 4px;
    background-color: #1dbdff;
    border-radius: 5px;
    margin-right: 8px;
}
.section-description{
    font-size: 2em;
    font-weight: 700;
    color: #164e63;
}
