.navigation{
    display: none;
    position: fixed;
    z-index: 200;
    height: 0;
    width: 100vw;
    overflow: auto;
    background: #fff;
}
.navigation.is-toggled{
    display: block;
    height: 100vh;
}
.company-details{
    background: #e8e8e8;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.beta-logo{
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.beta-logo .logo{
    width: 100%;
    height: 100%;
}
.company-name{
    font-size: 1.3em;
    font-weight: 700;
    display: flex;
    color: #0c4a6e;
    align-items: center;
    justify-content: center;
}
.nav__socials{
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 10px;
}
.nav__social .social--link{
    font-size: 1.5em;
    color: #0c4a6e;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.nav__social .social--link:hover{
    color: blue;
}
.nav-links{
    margin: 3%;
}
.nav-link{
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 10px;
}
.nav-link .link{
    width: 100%;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    color: #0c4a6e;
    font-weight: 500;
    padding: 5px ;
}
.nav-link .link:hover{
    color: #0f172a;
}
.nav-link.service-link{
    display: flex;
    flex-direction: column;
}
.sub-links{
    margin: 10px 0;
    padding: 15px 2%;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
}
.sub-link{
    margin: 4px 0;
    padding: 4px 0;
    list-style: none;
}

.toggle-btn{
    position: fixed;
    z-index: 201;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    font-size: 2.3em;
    color: #0f172a;
    background: #f3f3f3;
    border: 1px solid #0f172a;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.toggle-btn:hover{
    background-color: #0f172a;
    color: #fff;
}
@media only screen and (min-width:800px){
    .navigation{
        position: unset;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        height: 60px;
        width: 100%;
        background: #e8e8e8;
        padding: 0 2%;
    }
    .beta-logo{
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .beta-logo .logo{
        width: 100%;
        height: 100%;
    }
    .company-details{
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        width: fit-content;
    }
    .nav-links{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 100%;
        margin: 0;
        padding: 0 10px;
    }
    .nav-link{
        margin: 0;
        padding: 0 10px;
        cursor: pointer;
    }
    .desktop-sub-links{
        position: absolute;
        top: 50px;
        left: 50%;
        width: 100vw;
        background: #e8e8e8;
        padding: 10px 0;
        z-index: 100;
    }
    .sub-links{
        padding: 0 1%;
        width: 360px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
    }
    .appointment-btn{
        background: #0f172a;
        color: #fff;
        padding: 5px 15px;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        border: none;
        outline: none;
    }
}