.banner {
  width: 100%;
  background-image: url("../../assets/image1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.banner__content {
  position: relative;
  z-index: 2;
  padding: 15% 3%;
}
.banner__overview {
  font-size: 1.2em;
  font-weight: 700;
  color: #00bfff;
}
.banner__title {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
}
.banner__description {
  font-size: 1em;
  font-weight: 400;
  color: #e7e3e3;
}
.banner__btn {
  background: #025672;
  border: none;
  outline: none;
  padding: 6px 60px;
  margin: 20px 0;
  border-radius: 3px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}
.banner__btn:hover {
  background: #0f172a;
}
@media only screen and (min-width: 800px) {
  .banner {
    min-height: 400px;
  }
  .banner__content {
    width: 80%;
    padding: 8% 3%;
  }
  .banner__title {
    font-size: 2.3em;
  }
}
